{
    "ACTIVE_LIVES_FILE": "/absolute/path/to/yt-channel-monitor/active_lives.json",
    "TARGET": "rtmp://localhost/live/stream",
    "TWITCH_OPTS": "--stream-sorting-excludes \">720p60\"",
    "TWITCH_QUALITY": "720p60,720p,best",
    "COOKIES_FILE": "/absolute/path/to/youtube_cookies.txt",
    "TWITCH_CONFIG_FILE": "/absolute/path/to/config.twitch",
    "MAIN_CHANNELS": [
        "神楽めあ / KaguraMea",
        "さぶめあちゃんねるっ!",
        "汚い方の神楽めあ【公式】",
        "神楽めあ"
    ]
}
